
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter:ital,wght@1,300;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cabin+Sketch:wght@400;700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
/*COLORS*/
    --primary : #1A2238;
    --secondary : #5060bd;
    --attention : rgb(255, 106, 61);
    --info : #F4DB7D;
    --light-writing: white;
/*FONTS*/
    --font-primary : 'Cabin Sketch', cursive;
    --font-secondary : 'Amatic SC', cursive;
    --font-headers : 'Cabin Sketch', cursive;
    --font-paragraphs : 'Roboto', sans-serif;
    --font-nav : 'Amatic SC', cursive;
/*SIZES*/
    --width-small : 700px;
}
/*OVERALL*/
*{
    margin: 0;
    padding: 0;
    font-family: var(--font-primary)
}

html {
    scroll-behavior: smooth;
}
/*UTILITY*/
.bg__primary {
    background-color: var(--primary);
}
.bg__secondary {
    background-color: var(--secondary);
}
.bg__info {
    background-color: var(--info);
}

.color__attention {
    color: var(--attention)
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}



/*HEADERS*/
h1 {
    font-size: 2.5em;
    color: var(--info);
}

h2 {
    font-size: 2em;
    color: var(--info)
}

h3 {
    font-size: 1.5em;
}
/*OVERALL END*/

/*------------------IMAGES---------------------*/
img {
    height: auto;
    border-radius: 7px;
    max-width: 100%;
}

#img_1 {
    height: 20em;
    width: auto;
}
/*------------------IMAGES END---------------------*/
/*------------------NAVBAR---------------------*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10% 0px 10%;
    background-color: var(--secondary);
}

nav li, a, button {
    font-family: var(--font-nav);
    font-weight: 700;
    font-size: 1.25em;
    color: var(--primary);
    text-decoration: none;
}

.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 2;
    cursor: pointer;
    height: 50px;
    padding: 10px;
    border-radius: 7px;
    margin: 3px;
    
}

.logo img {
    height: 100%;
}

.logo:hover {
    transition: all 0.3s ease 0s;
    background-color: hsl(14, 25%, 62%);
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}


.nav__links li a:hover {
    transition: all 0.3s ease 0s;
    color: var(--attention);
    font-size: 1.35em;
}

header button {
    border: none;
    background-color: var(--info);
    border-radius: 50px;
    padding: 5px;
}

header button:hover {
    transition: all 0.3s ease 0s;
    background-color: var(--attention);
    color: white;
    cursor: pointer;
    font-size: 1.30em;
}

/*This is the contact button that is shown when the screen size is smaller 
it should span the whole width of the page
*/
#contact__button__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

#contact__button__container button {
    width: 90%;
    border: none;
    background-color: var(--info);
    border-radius: 50px;
    padding: 5px;
}

#contact__button__container button:hover {
    transition: all 0.3s ease 0s;
    background-color: var(--attention);
    color: white;
    cursor: pointer;
    font-size: 1.30em;
}

#contact__button__show {
    display: none;
    width: 100%;
    position: fixed;
    bottom: 0;
    opacity: 0.9;
}

/*Section for the sticky navbar that i want to create
its thinner and sticks ontop with only the links
*/
.nav__sticky{
    display: block;
}



/*------------------NAVBAR END---------------------*/
/*------------------SECTION OVERALL----------------*/
section {
    padding: 20px 0 20px 0;
}

.section__content {
    padding: 20px 0 20px 0;
    margin: 0 10% 0 10%;

}

.section__columns__2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 50px; 
}

/*------------------SECTION OVERALL END---------------------*/
/*------------------WELCOME SECTION---------------------*/
section #welcome {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light-writing);
    text-align: center;
}
/**/
.background-img-one {
    background-image:linear-gradient(
        rgba(20, 20, 20, 0.4), 
        rgba(20, 20, 20, 0.4)
      ), url(/media/schule/german_flag.jpg);
    background-blend-mode: saturation;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    object-fit: cover;   
}

.background-img-one::after {
    content: "";
    
    filter: grayscale(100%)


}

.welcome-content-background {
    background-color: hsla(0, 6%, 21%, 0.75);
    border-radius: 7px;
    padding: 10px;
    
}


#welcome-svg {
    height: 300px;
    width: 500px;
}
/*------------------WELCOME SECTION END---------------------*/

/*------------------SECTION INSTITUTO---------------------*/
.instituto__content {
    background-color: rgba(14, 12, 12, 0.67) !important;
    padding: 20px;
    color: var(--light-writing);
    border-radius: 15px;
}


.instituto__content img {
    margin: 10px;
    max-width: 60%;
    box-shadow:
    11.5px 13px 6.5px rgba(0, 0, 0, 0.06),
    20.3px 23px 15.7px rgba(0, 0, 0, 0.09),
    27px 30.5px 29.6px rgba(0, 0, 0, 0.111),
    33.1px 37.4px 52.7px rgba(0, 0, 0, 0.131),
    43.2px 48.8px 98.6px rgba(0, 0, 0, 0.159),
    69px 78px 236px rgba(0, 0, 0, 0.21)
  ;

}

@media  screen and (max-width: 1000px) {
    .instituto__content img {
        max-width: 100%;
    }

    .section__instituto__img {
        max-width: 100%; 
    }
}

.instituto__content h2 {
    font-size: 3em;
}

.instituto__content p,ul {
    font-size: 2em;
}


#section__instituto__pictures {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.section__instituto__img {
    position: cover;
    max-width: 100%;
    height: auto;
    width: auto;
    box-shadow:
    11.5px 13px 6.5px rgba(0, 0, 0, 0.06),
    20.3px 23px 15.7px rgba(0, 0, 0, 0.09),
    27px 30.5px 29.6px rgba(0, 0, 0, 0.111),
    33.1px 37.4px 52.7px rgba(0, 0, 0, 0.131),
    43.2px 48.8px 98.6px rgba(0, 0, 0, 0.159),
    69px 78px 236px rgba(0, 0, 0, 0.21)
  ;
    
}

.section__instituto__img:nth-child(1) {flex-shrink: 1}
.section__instituto__img:nth-child(2) {flex-shrink: 2;}
.section__instituto__img:nth-child(3) {flex-shrink: 3}
.section__instituto__img:nth-child(4) {flex-shrink: 1}

/*------------------SECTION INSTITUTO END---------------------*/
/*-------------SECTION HORRARIO------------*/
#horrario {
    color: var(--primary);
    
    background-position: 50% 40%;
    
}

#horrario h2 {
    color: var(--light-writing);
    text-align: center;
    background-color:rgba(14, 12, 12, 0.67);
    border-radius: 7px;
    font-size: 3em;
    padding: 5px;
}

.stundenplan {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.day__heading {
    color: var(--light-writing);
    font-size: 1.5em;
    background-color: hsla(0, 6%, 21%, 0.9);
    padding: 5px;
    border-radius: 7px;

    -webkit-box-shadow: 17px 10px 8px 2px rgba(0,0,0,0.4); 
    box-shadow: 17px 10px 8px 2px rgba(0,0,0,0.4);


    width: 100%;
}

.day {
    margin: 20px;
}

.field {
    background-color: var(--info);
    width: 100%;
    height: 30px;
    padding: 10px;
    margin: 5px;
    border-radius: 7px;

    -webkit-box-shadow: 17px 10px 8px 2px rgba(0,0,0,0.4); 
    box-shadow: 17px 10px 8px 2px rgba(0,0,0,0.4);
}






/*------------SECTION HORRARIO END*/


/*------------------SECTION DIFERNENCIAS---------------------*/
/*------------------SECTION DIFERNENCIAS END---------------------*/

/*------------------SECTION CONTACT--------------------------*/
#contact {
    
    background-color: var(--info);
    background-image: url(/media/schule/straubing.jpg);
    background-position: center;
}

#contact h2 {
    color: var(--primary);
    background-color: var(--info);
    padding: 5px;
    border-radius: 7px;
}

.form__container {
    /*display: grid;
    grid-template-columns: 1fr 1fr;*/
}

#contact img {
    height: 200px;
}

#contact form {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;

}

#contact form input[type=submit] {
    padding: 5px;
    margin: 5px;
    display: flex;
    width: 50%;
    height: 3em;
    text-align: center;
}

.form__field {
    /*background-color: var(--light-writing);*/
    width: 100%;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
    border: none;
    transition: 0.4s ease-in-out 0s;
}

.form__field:focus{
    padding: 9px;
    
}

form textarea {
    resize: none;
    width: 100%;
    height: 120px;
}

.form__row {
    width: 100%;
}

input[type="submit"]{
    background-color: var(--attention);
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 2em;
    text-align: center;
}
input[type="submit"]:hover{
    transition: 0.4s;
    color: var(--primary);
    background-color: rgb(146, 218, 146);

}


/*------------------SECTION CONTACT END--------------------------*/


/*#####################-SMALL SCREEN SECTION MEDIA-############################*/

@media screen and (max-width:700px) {
    #header-wide {
        display: block;
    }

    #header-logo {
        display: none;
    }

    #contact-button {
        display: none;
    }

    header nav {
        font-size: 0.5em;
        top: 0;
        position: fixed;
        background-color: var(--secondary);
        margin: auto;
        padding: 5px;
        border-radius: 5px;
        
    }

    #contact__button__show {
        display: block;
    }
    .section__columns__2 {
        display: grid;
        grid-template-columns:1fr;    
    }
    
}
